streamlit
langchain
python-magic
#python-magic-bin
#libmagic 
hf_xet
langchain-huggingface
langchain-ollama
chromadb
pypdf
pytest
boto3
pydub
playsound==1.2.2
crawl4ai
pydantic
langchain_google_genai
edge-tts
pyttsx3